@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
body{
    font-family: 'Original Surfer', cursive;
}

#buttons{
    display: flex;
    justify-content: center;
   

}
   

#lap_button{
    border: none;
    color: rgb(195, 143, 203);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    background-color:thistle;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#start_button{
    border: none;
    color: rgb(195, 143, 203);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    background-color:thistle;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#start_button:hover{
    background-color:lightblue;
}

#stop_button{
    border: none;
    color: rgb(195, 143, 203);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    background-color:thistle;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#stop_button:hover{
    background-color:lightblue;
}

#reset_button:hover{
    background-color:lightblue;
}
#reset_button{
    border: none;
    color: rgb(195, 143, 203);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    background-color:thistle;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#digits{
    text-align: center;
    border-block-style:solid;
    border-block-width: 3px;
    border-radius:10px;
    background-color:rgb(249, 229, 239);
}

#start_button:disabled{
    background-color:red;
    cursor:not-allowed;
}